AWS_ACCESSKEY=key
AWS_SECRETKEY=key
REGION=ap-northeast-1
MyPhotoBucket=bucketname
DB_NAME=cloudphoto
DB_URL=mongodb://127.0.0.1:27017/
DB_USER="userid"
DB_PASS="password"
TABLE_CLOUDPHOTO_ALBUMS='table_of_dynamodb'
TABLE_CLOUDPHOTO_PICTURES='table_of_dynamodb'